<figure class="card">
    <div class="card-hero">
        <img src="/{%IMAGE%}" alt="{%PRODUCTNAME%}" class="card-image">
    </div>
    <h2 class="card-name">{%PRODUCTNAME%}</h2>
        <p class="card-details"><span class="emoji-left"></span>{%SCREEN%}</p>
        <p class="card-details"><span class="emoji-left"></span>{%RAM%}</p>
    <div class="card-footer">
        <p class="card-price">{%PRICE%}</p>
        <a href="/laptop?id={%ID%}" class="card-link">Check it out</a>
    </div>
</figure>
